.supportLink {
  font-size: 14px;
  color: white;
  margin: 48px 24px 24px 24px;
  text-align: left;
}

.button {
  display: inline;
}

.button a {
  color: white;
  font-weight: 400;
  text-decoration: underline;
}

.flex {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}

.flex >:first-child {
  margin-right: 8px
}
