.supportLink {
  color: white;

  margin: 42px 0 24px 0;
  text-align: center;
}

.supportLink p {
  color: #ffffffe0;
  font-weight: 800;
  letter-spacing: 0.2px;
}

.button {
  display: inline-block;
}

.button a {
  color: white;
  font-weight: 400;
  text-decoration: underline;
}
