.supportLink {
  font-size: 14px;
  color: white;
  margin: 48px 0 24px 0;
  text-align: center;
}

.button {
  display: inline-block;
}

.button a {
  color: white;
  font-weight: 400;
  text-decoration: underline;
}
