.container, .altContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: rgb(37, 36, 41);
}

.altContainer {
	border: 1px solid #85E4C6;
}

.underline {
	outline: none;

	border-bottom: 2px solid white;
	border-radius: 2px;
	width: 120px;
	height: 100%;
}

.input {
	border: 0;
	background: transparent;
	outline: none;
	width: 100%;
	text-align: center;
	color: white;
	margin-bottom: 2px;
	margin-left: 1px;
	font-size: inherit;
}

.input::placeholder {
	color: white;
	font-family: 'AcquaticaFont';
	font-size: 14px;
}



@keyframes slide {
	to {
		transform: translateX(100%);
		fill: red;
		opacity: 0;
	}
}
