.paragraphWrapper {
  padding: 24px;
  border-radius: 6px;
}

.paragraphWrapper:hover {
  box-shadow: rgba(255, 255, 255, 0.1) 0 0 10px;
}

.headingWrapper {
  cursor: pointer;
  display: flex;
  align-items: flex-start;
}

.heading {
  flex-grow: 1;
}

.icon {
  transform: rotate(90deg);
  width: fit-content;
}

.icon,
.iconClicked {
  transition: all 0.3s ease-in;
  flex-grow: 0;
  display: flex;
}

.iconClicked {
  transform: rotate(0);
  color: #85e4c6;
}

.body {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
}

.body,
.bodyOpened {
  color: #ffffffe5;
  transition: all 0.3s ease-in-out;
}

.bodyOpened {
  margin-top: 18px;
  max-height: 600px;
  opacity: 1;
}
