.container {
    width: 100vw;
    min-height: 800px;
    height: 100%;
    margin-top: 30px;
    position: relative;
}

.overlayWrapper {
    position: absolute;
    top:0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 900px;
    background-color: rgba(86, 227, 178, 0.12);
    height: 100%;
    border-radius: 24px;
}

.innerContainer {
    position: absolute;
    inset: 0;
    overflow: scroll;
}

.navbar {
    z-index: 100;
    position: absolute;
    left: -80px;
    top: 60px;
}

.navbar > :first-child {
    margin-left: auto;
}

.main {
    position: absolute;
    top: 60px;
    width: 100%;
    transform: translateX(-50%);
    left: 50%;
    font-size: 14px;
    max-width: 500px;
}

@media (max-width: 730px) {

    .container {
        display: revert;
    }

    .main >:first-child {
        margin: auto;
    }

    .navbar {
        position: fixed;
        width: 100vw;
        left: 0;
        bottom: 0;
    }
}
