@font-face {
  font-family: 'Varela', sans-serif;
}

.page {
  font-family: "Varela", sans-serif;
  font-size: 14px;
  width: 94vw;
  max-width: 670px;
  margin-top: 20px;
}

.container,
.paragraphs > * {
  padding: 24px 18px;

  border: 1px solid rgba(128, 128, 128, 0.164);
  box-shadow: 0 4px 14px 0 rgba(128, 128, 128, 0.164);
  background: rgb(25, 25, 26);
  border-radius: 12px;
  margin: auto;
  animation: mymove 6s infinite ease-in-out;

  color: white;
}

.container {
  padding: 20px 16px;
}

@keyframes mymove {
  0% {
    box-shadow: 0 0 0px 6px rgba(183, 234, 208, 0.44);
  }
  50% {
    box-shadow: 0 0 0px 4px rgba(133, 228, 198, 0.24),
      0 0 0px 0px rgba(133, 228, 198, 0.15);
  }
  100% {
    box-shadow: 0 0 0px 6px rgba(211, 211, 211, 0.445);
  }
}

.streamingsContainer > * {
  border-radius: 14px;
  margin-bottom: 20px;
}

.streamingsContainer > :last-child {
  margin-bottom: 32px;
}

@media (max-width: 520px) {

  .header {
    margin: 10px 0 30px 0;
  }

  .streamingsContainer > :last-child {
    margin-bottom: 24px;
  }
}


.streamingsContainer > * + * {
  margin-top: 16px;
}

@media (min-width: 520px) {

  .container {
    padding: 32px 32px;
  }

  .header {
    margin-bottom: 32px;
  }

}

/* Paragraph */

.paragraphs {
  margin-top: 40px;
}

.paragraphs > * {
  margin-bottom: 24px;
}
