@font-face {
  font-family: "Varela";
  src: url("../../public/fonts/varela/varela-v11-latin-regular.woff2")
      format("woff2"),
    url("../../public/fonts/varela/varela-v11-latin-regular.woff")
      format("woff"),
    url("../../public/fonts/varela/varela-v11-latin-regular.ttf")
      format("truetype");
  font-weight: 400;
  font-style: normal;
  /*font-display: swap;*/
}

body {
  margin: 0;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  background-color: rgb(53, 112, 92);
}

* {
  margin: 0;
}

input {
  -moz-box-shadow: none;
}

p {
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 1px;
}

h1 {
  font-size: 19px;
}

h2 {
  font-size: 15px;
  font-weight: 300;
}

h4 {
  letter-spacing: 1px;
}

p,
h1,
h2,
h3,
h4,
div,
span,
button {
  font-family: "Varela", sans-serif;
}

@media (min-width: 520px) {
  h1 {
    font-size: 26px;
  }

  h2 {
    font-size: 16px;
  }
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
