.container {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: row;
}

.headings {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header {
  font-family: inherit;
  letter-spacing: 1px;
}
