.container {
    text-align: center;
    margin: auto;
    font-size: 20px;
    position: sticky;
    top: 0;
    color: white
}


.earning {
    animation: colorAnimation 5s infinite;
}


@keyframes colorAnimation {
    0% {
        color: rgba(131, 231, 200, 0.8);
    }
    50% {
        color: rgb(131, 231, 200);
    }
    100% {
        color: rgba(131, 231, 200, 0.8);
    }
}
