.container {
    text-align: center;
    padding: 0 10px;
    margin: auto;
    font-size: 20px;
    background: #85e4c6;
    position: fixed;
    width: 100vh;
    top: 0;
    border-radius: 4px;
    transform: translate(-50%, 0%);
    transition: 0.5s ease-in-out;
    left: 50%;
    z-index: 30000;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}


@media (min-height: 520px) {
    .container {
        position: static;
        transform: translate(0%, 0%);
        transition: 0.5s ease-in-out;
        background: transparent;
        width: fit-content;
        color: white;
        margin: 0 auto auto;
    }

    .earning {
        animation: colorAnimation 5s infinite;
    }
}


@keyframes colorAnimation {
    0% {
        color: rgba(131, 231, 200, 0.8);
    }
    50% {
        color: rgb(131, 231, 200);
    }
    100% {
        color: rgba(131, 231, 200, 0.8);
    }
}
