@font-face {
  font-family: "AcquaticaFont";
  src: url("../public/assets/fonts/Aquatico-Regular.otf") format("opentype");
}

.page {
  font-family: "AcquaticaFont";
  font-size: 16px;
  width: 94vw;
  max-width: 740px;
  margin-top: 20px;
}

.container,
.paragraphs > * {
  padding: 24px 24px;

  border: 1px solid rgba(128, 128, 128, 0.164);
  box-shadow: 0 4px 14px 0 rgba(128, 128, 128, 0.164);
  background: rgb(25, 25, 26);
  border-radius: 12px;
  margin: auto;
  animation: mymove 6s infinite ease-in-out;

  color: white;
}

@keyframes mymove {
  0% {
    box-shadow: 0 0 0px 6px rgba(183, 234, 208, 0.44);
  }
  50% {
    box-shadow: 0 0 0px 4px rgba(133, 228, 198, 0.24),
      0 0 0px 0px rgba(133, 228, 198, 0.15);
  }
  100% {
    box-shadow: 0 0 0px 6px rgba(211, 211, 211, 0.445);
  }
}

.header {
  margin-bottom: 44px;
}

.streamingsContainer > * {
  padding: 8px 12px;
  border-radius: 4px;
  margin-bottom: 24px;
}

.streamingsContainer > * + * {
  margin-top: 16px;
}

@media (min-width: 1024px) {
  .page {
    /* position: absolute;
        width: 100%;
        left: 50%;
        top:50%;
        transform: translate(-50%, -50%); */
  }

  .container {
    padding: 32px 32px;
  }

  .streamingsContainer > * {
    padding: 18px 18px;
  }
}

/* Paragraph */

.paragraphs {
  margin-top: 40px;
}

.paragraphs > * {
  margin-bottom: 24px;
}
